[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaggle = "*"
zipfile = "*"
pandas = "*"
numpy = "*"
sqlalchemy = "*"
zipfile36 = "==0.1.3"

[dev-packages]

[requires]
python_version = "3.10"
